* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: white;
}

/* Navbar */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #020617;
  position: sticky;
  top: 0;
}

.logo {
  color: cyan;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: cyan;
}

/* Sections */
.section {
  padding: 60px 20px;
  text-align: center;
}

.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home span {
  color: cyan;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background: cyan;
  cursor: pointer;
  border-radius: 5px;
}

/* Skills */
.skills-container {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.skill {
  padding: 10px 20px;
  background: #1e293b;
  border-radius: 5px;
}

/* Projects */
.projects-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.project-card {
  background: #1e293b;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
}

/* Contact */
.contact form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: auto;
}

input, textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

footer {
  text-align: center;
  padding: 10px;
  background: #020617;
}